# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
env/


.env
config.json

/dataset/
/dataset/**
patient_uploads/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db# Node.js
dr-atul/node_modules/

# Python
__pycache__/
venv/

# Environment files
.env

# VS Code
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.calendar_credentials.json
calendar_credentials.json

*.json
token.json
.env
.env.local